@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    width: 100vw;
    font-family: 'Overpass', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    
}
.image{
    width: 110%;
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-image: url(images/image-header-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-left: 8%;  */
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    border-radius: 5px 5px 0px 0px

}
.image-container{
    margin-top: 0px;
}
.image-overlay{
    background-color: hsla(277, 64%, 45%, 0.836);
    width: 100%;
    margin-top: 30px;
    height: 50vh;
    border-radius: 5px 5px 0px 0px

}   
.container{
    display: flex;
    flex-direction: column;
    /* margin-left: 15px; */
    width: 300px;
    margin-top: 60px;
}
.second-container{
    background-color:  hsl(244, 38%, 16%);
    height: 490px;
    width: 110%;
    /* margin-left: 8%; */
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    justify-content: center;
}
.insight{
    color:hsl(277, 64%, 61%) ;
    font-weight: bold;
}
.get-insights{
    color: white;
    /* font-size: 15px; */
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    /* font-weight: bold; */
}
.second-insight{
    /* background-color: red; */
    width: 250px;
    margin-left: 30px;
    font-size: 25px;
    height: 100px;
}
.discover{
    color: hsla(0, 0%, 100%, 0.75);
     text-align: center; 
    /* font-size: 15px; */
    width: 350px;
    /* background-color: red; */
    width: 290px;
    font-size: small;
}
#discover{
    /* text-align: center; */
    margin-left: 30px;
    margin-top: 25px;
    padding-right: 20px;
    /* font-size: 15px; */
}
.numbers{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 100px;
    margin-left: 110px;
    /* line-height: 2; */
}
.number-span{
    color:hsla(0, 0%, 100%, 0.75) ;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}
.number-spans{
    color:hsla(0, 0%, 100%, 0.75) ;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}
.ten{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-size: larger;

}
.three, .twelve{
    text-transform: uppercase;
    color:  hsl(0, 0%, 100%);
    font-size: larger;
}
.number-display-flex{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
}
