@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    width: 100vw;
    font-family: 'Overpass', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.img-container{
    /* background-color:hsl(277, 64%, 61%);; */
    margin-top: 80px;
}
img{
    width: 300px;
    align-items: center;
    justify-content: center;
    background-image: rgb(173, 34, 57);
    margin-left: 37px;
    border-radius:5px 5px 0px 0px ; 
}
.second-container{
    background-color:  hsl(244, 38%, 16%);
    height: 490px;
    width: 300px;
    margin-left: 37px;
    margin-top: -5px;
    border-radius: 0px 0px 5px 5px;
}
.insight{
    color:hsl(277, 64%, 61%) ;
    font-weight: bold;
}
.get-insights{
    color: white;
    /* font-size: 15px; */
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    /* font-weight: bold; */
}
.second-insight{
    /* background-color: red; */
    width: 250px;
    margin-left: 30px;
    font-size: 25px;
    height: 100px;
}
.discover{
    color: hsla(0, 0%, 100%, 0.75);
     text-align: center; 
    /* font-size: 15px; */
    width: 350px;
    /* background-color: red; */
    width: 290px;
    font-size: small;
}
#discover{
    /* text-align: center; */
    margin-left: 30px;
    margin-top: 25px;
    padding-right: 20px;
    /* font-size: 15px; */
}
.numbers{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    width: 100px;
    margin-left: 100px;
    /* line-height: 2; */
}
.number-span{
    color:hsla(0, 0%, 100%, 0.75) ;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}
.number-spans{
    color:hsla(0, 0%, 100%, 0.75) ;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 3px;
}
.ten{
    text-transform: capitalize;
    color:  hsl(0, 0%, 100%);
    font-size: larger;

}
.three, .twelve{
    text-transform: uppercase;
    color:  hsl(0, 0%, 100%);
    font-size: larger;
}
.number-display-flex{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    text-align: center;
}
@media (min-width:1000px) {
    .container{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .second-container{
        display: flex;
        width: max-content;
        flex-direction: column;
        width: 400px;
        height: 350px;
        align-items: center;
        justify-content: center;
        margin-top: 10.4%;
        border-radius: 5px 0px 0px 5px;
        /* margin-left: -4px; */
    }
    img{
        height: 350px;
        width: 400px;
        border-radius: 0px 5px 5px 0px;
        margin-top: 16.5%;
        margin-left: -1px;
    }
    .get-insights{
        height: 50px;
        width: 350px;
        margin-top: -30 px;
        /* background-color: red; */
        margin-left: -5px;
    }
    .second-insight{
        text-align: left;
        margin-left:20px;
        font-size: 25px;
        font-weight: bold;
        width: 300px;
        margin-left: 5px;
    }
    .numbers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: -350px;
        /* background-color: blue; */
        text-align: left;
    }
    .discover{
        height: 50px;
        width: 350px;
        font-size: small;
        margin-top: 10px;
    }
    #discover{
        text-align: left;
        margin-left: 5px;
    }
    .number-display-flex{
        justify-content: space-between;
        /* background-color: red; */
        margin-left: 40px;
    }
    .number-span{
        margin-left: 20px;
    }
    .number-spans{
        margin-left: -4px;
    }
}